// Place all the styles related to the api/mindmaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#square{
  width: 50px;
  height: 50px;
  background-color: black;
}

.mindmap-text{
  width: 200px;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
}


