// Place all the styles related to the mandalarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// mandalart#index


.mandalart-table{
  margin-left: auto;
  margin-right: auto;
}

.mandalart-text{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}




// mandalart#edit

.form-wrapper{
  margin-left: auto;
  margin-right: auto;
  width:250px;
}

.form{
  width: 200px;
  height: 100px;
}

